<?xml version="1.0"?>
<configuration>
  <configSections>
      <section name="templates" type="NiL.WBE.Html.TemplateElementCollection" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>
  <templates>
    <template name="Default" path="templates/DefaultTemplate.html"/>
    <template name="apps" path="templates/AppsTemplate.html"/>
  </templates>
  <appSettings>
    <add key="jsLogicInit" value="Scripts/init.js"/>
    <add key="jsLogicDefault" value="Scripts/default.js"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
    <handlers>
      <add name="Global" verb="*"
           path="*"
           type="NiL.WBE.Global"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>