<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <script>
        function showAllPost(a) {
            a.parentNode.parentNode.getElementsByClassName('text-hider')[0].style['max-height'] = 'inherit';
            a.style.opacity = '0.0';
            var phb = a.parentNode.parentNode.getElementsByClassName('post-hide-button')[0];
            phb.style["margin-top"] = '-' + (phb.parentNode.clientHeight - 80) + 'px';
            phb.style.height = (phb.parentNode.clientHeight - 100) + 'px';
        }
        function hideAllPost(a) {
            a.parentNode.getElementsByClassName('text-hider')[0].style['max-height'] = '100px';
            a.style["margin-top"] = 'initial';
            a.style.height = "0px";
        }
        function checkVisibility(a) {
            var text = a.getElementsByClassName("text")[0];
            if (text.clientHeight > text.parentNode.clientHeight) {
                var uhb = a.getElementsByClassName('unhover-button')[0];
                if (uhb && uhb.style.opacity != '1.0')
                    uhb.style.opacity = '1.0';
            }
        }
    </script>
</head>
<body>
    <header>
        <div id="header-content">
            <div class="header-button">Новости</div>
            <div class="header-button" id="home">Домой</div>
        </div>
    </header>
    <div class="shadow-holder">
        <div class="content-shadow">
        </div>
    </div>
    <div class="content-holder">
        <div id="content">
            <!-- Post snippet -->
            <div class="post" onmouseover="checkVisibility(this)">
                <div class="avatar-holder">

                </div>
                <div class="autor"></div>
                <div class="text-hider">
                    <div class="text">
                    </div>
                </div>
                <div class="photos">

                </div>
                <div class="post-footer">
                    <div class="date"></div>
                    <div class="unhover-button" onclick="showAllPost(this)">Продолжение ...</div>
                </div>
                <div class="post-hide-button" onclick="hideAllPost(this)">
                </div>
            </div>
            <!-- End post snippet -->
        </div>
    </div>
</body>
</html>
