html {
    height: 100%;
    font-family: "PT Sans";
}

body {
    background-color: rgb(230,230,230);
    margin: 0px;
    height: 100%;
}

header {
    width: 100%;
    background-color: white;
    height: 50px;
    box-shadow: 1px 0px 10px grey;
    color: rgb(120,120,120);
    position: fixed;
    overflow: hidden;
    cursor: default;
    min-width: 400px;
    z-index: 100;
}

    header #header-content {
        height: 100%;
        float: right;
        padding-right: 50px;
    }

    header .header-button {
        display: inline-block;
        padding: 13px 15px 0px 15px;
        height: 37px;
        transition: box-shadow linear 0.2s;
    }

        header .header-button:hover {
            box-shadow: 0px 0px 10px gray;
        }

.content-holder {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 50px;
}

    .content-holder #content {
        display: inline-block;
        width: 70%;
        background-color: white;
        min-height: 100%;
        max-width: 720px;
        min-width: 400px;
        padding-top: 30px;
    }

        .content-holder #content .post {
            margin-left: 2.5%;
            width: 95%;
            text-align: left;
            border-bottom: solid 1px lightgray;
        }

            .content-holder #content .post .post-content {
                max-height: 100px;
                overflow: hidden;
                padding: 0px 0px 0px 20px;
            }

            .content-holder #content .post .avatar-holder {
                width: 50px;
                float: left;
            }

            .content-holder #content .post .autor {
                margin-left: 60px;
                color: darkgray;
            }

            .content-holder #content .post .text {
            }

            .content-holder #content .post .post-footer {
                height: 20px;
                background-color: white;
                cursor: default;
                color: #afafaf;
                text-transform: lowercase;
                font-weight: 700;
                font-size: 14px;
            }

            .content-holder #content .post .unhover-button {
                display: inline-block;
                opacity: 0.0;
                transition: opacity linear 0.2s;
                float: right;
            }

                .content-holder #content .post .unhover-button:hover {
                    color: #3f3f3f;
                }

            .content-holder #content .post .post-hide-button {
                display: inline-block;
                float: left;
                position: relative;
                width: 50px;
                transition: background-color linear 0.2s;
            }

                .content-holder #content .post .post-hide-button:hover {
                    background-color: lightgray;
                }

.shadow-holder {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    text-align: center;
}

    .shadow-holder .content-shadow {
        display: inline-block;
        width: 70%;
        height: 100%;
        box-shadow: 0px 0px 100px gray;
        max-width: 720px;
        min-width: 400px;
    }
